<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h2>User info</h2>

			<% if @user.errors.any? %>
			  <div id="error_explanation" class="alert alert-danger">
				<h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
			    <ul>
			      <% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			  </div>
			<% end %>


			<%= form_for(@user) do |f| %>
				<div class="form-group">
					<span>Name</span>
					<%= f.text_field :name %><br>
				</div>
				<div class="form-group">
					<p>Image</p>
					<%= f.attachment_field :profile_image %><br>
				</div>
				<div class="form-group">
					<span>Introduction</span>
					<%= f.text_area :introduction %><br>
				</div>
				<%= f.submit "Update User" %>
			<% end %>
		</div>
		<div class="col-xs-9"></div>
	</div>
</div>