<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse">
        <div class="navbar-header">
          <h3>Bookers</h3>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id) do %>
                <i class="glyphicon glyphicon-home"> Home</i>
              <% end %>
            </li>

            <li>
              <%= link_to users_path do %>
                <i class="glyphicon glyphicon-user"> Users</i>
              <% end %>
            </li>

            <li>
            <%= link_to books_path do %>
              <i class="glyphicon glyphicon-book"> Books</i>
            <% end %>
            </li>

            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="glyphicon glyphicon-log-out"> logout</i>
              <% end %>
            </li>

            <% else %>
            <li>
              <%= link_to root_path do %>
                <i class="glyphicon glyphicon-home"> Home</i>
              <% end %>
            </li>

            <li>
              <%= link_to home_about_path do %>
                <i class="glyphicon glyphicon-link"> About</i>
              <% end %>
            </li>

            <li>
              <%= link_to new_user_registration_path do %>
                <i class="glyphicon glyphicon-edit"> sign up</i>
              <% end %>
            </li>

            <li>
              <%= link_to new_user_session_path do %>
                <i class="glyphicon glyphicon-log-in"> login</i>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>
      </nav>
    </header>


    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <% if notice %>
            <span class="alert alert-notice text-success"><%= notice %></span>
          <% end %>
        </div>
        <div class="col-lg-9"></div>
      </div>
    </div>

    <%= yield %>

    <div class="container">
      <div class="row">
        <div class="col-lg-9"></div>
        <footer class="col-lg-2">
          <p>CopyRight Infratop.inc</p>
        </footer>
        <div class="col-lg-1"></div>
      </div>
    </div>

  </body>
</html>
